{% macro bucket(b, depth) %}
<div class="bucket {{ 'sub' if depth }}">
  <form class="bucket-name" hx-post="/model/buckets/{{ b['row']['id'] }}/rename" hx-target="#columns" autocomplete="off">
    <input type="text" name="name" value="{{ b['row']['name'] }}">
  </form>
  <ul class="cards">
    {% for c in b['cards'] %}
    <li class="card mini">
      <span>{{ c['title'] }}</span>
      <span class="row-actions">
        {% for other in flat %}
        {% if other['id'] != b['row']['id'] %}
        <button class="quiet" hx-post="/model/cards/{{ c['id'] }}/move"
                hx-vals='{"bucket_id": {{ other['id'] }}}' hx-target="#columns">to {{ other['path'] | lower }}</button>
        {% endif %}
        {% endfor %}
        <button class="quiet danger" hx-post="/model/cards/{{ c['id'] }}/delete" hx-target="#columns">drop</button>
      </span>
    </li>
    {% endfor %}
  </ul>
  <form class="add" hx-post="/model/buckets/{{ b['row']['id'] }}/cards" hx-target="#columns" autocomplete="off">
    <input type="text" name="title" placeholder="add">
  </form>
  {% for child in b['children'] %}{{ bucket(child, depth + 1) }}{% endfor %}
  <div class="row bucket-actions">
    <form class="inline" hx-post="/model/boards/{{ board['id'] }}/buckets" hx-target="#columns" autocomplete="off">
      <input type="hidden" name="parent_id" value="{{ b['row']['id'] }}">
      <input type="text" name="name" placeholder="add a sub-bucket" class="who">
    </form>
    <button class="quiet danger" hx-post="/model/buckets/{{ b['row']['id'] }}/delete" hx-target="#columns"
            hx-confirm="delete bucket {{ b['row']['name'] }}?">delete bucket</button>
  </div>
</div>
{% endmacro %}

{% if error %}<p class="soft-error">{{ error }}</p>{% endif %}
<div class="columns">
  {% for b in tree %}
  <section class="col">{{ bucket(b, 0) }}</section>
  {% endfor %}
  <section class="col ghost">
    <form class="add" hx-post="/model/boards/{{ board['id'] }}/buckets" hx-target="#columns" autocomplete="off">
      <input type="text" name="name" placeholder="new bucket">
    </form>
  </section>
</div>
